*.asset filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
G:/_Projects/Unity/Ludum-Dare-44/Assets/_Scenes/Office[[:space:]]Scene.unity filter=lfs diff=lfs merge=lfs -text
